body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

h1 {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 20px;
}

#controls {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    /* border: 2px solid; */
}

button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.light-mode {
    background-color: #fff;
    color: #000;
}

canvas {
    display: block;
}